<p><%= link_to 'Back to the Sampling', sampling_url(@sampling.uuid)%></p>
<h1><%= @capture.sampling.description %></h1>

<% if @capture.completed? %>
<h2>This code review was completed!</h2>
<% end %>

<%= render :partial => @capture %>

<p><%= link_to 'Back to the Sampling', sampling_url(@sampling.uuid)%></p>