.left_capture{ 
	float: left; 
	width: 48%;
}

.right_capture { 
	float: right; 
	width: 48%;
}

.clear { clear : both; }

.capture_listing {
	padding: 5px;
	border: 2px solid darkgrey;
}

.problem_code { 
	padding-left: 15px;
	padding-bottom: 10px;
}

p { margin: 5px;}

.bug {
	padding-left: 10px;
}