.left_capture{ 
	float: left; 
	width: 48%;
}

.right_capture { 
	float: right; 
	width: 48%;
}

.clear { clear : both; }

.capture_listing {
	margin-left: 5px;
	padding: 5px;
	border: 2px solid darkgrey;
}

.problem_code { 
	padding-left: 15px;
	padding-bottom: 10px;
}

p { margin: 5px;}

.bug {
	padding-top: 5px;
	padding-left: 10px;
	border: 2px solid darkgrey;
	margin-bottom: 5px;
}

.bug_list {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}