.left_column { float : left; width : 48%; }
.right_column { float : right; width : 48%; }
.spacer { clear : both; }

blockquote { background: lightgrey;}
.bugs_dict { border: 1px solid green; padding: 2px; margin: 3px;}
.bugs_dict dd { margin-bottom: 3px;}