<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Captures</title>
		<%= stylesheet_link_tag("sherlock") %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>